body {
    background-image: url(images/background.jpg);
    background-size: 100vw 100vh;
    font-family: 'Comfortaa', cursive;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Cabin Sketch', cursive;
}
.intro {
    font-family: 'Abel', sans-serif;
}
/* Main stylings  */
.centre {
    text-align: center;
}
.setone {
    margin: 0;
    padding: 0;
    font-size: 35px;
    color: #b9faf8;
}
.valhalla {
    text-decoration: none;
    color: #4cc9f0;
}
.valhalla:hover {
    color: #f72585;
}
.intro {
    color: #b9faf8;
    text-align: center;
}
h4 {
    color: #90e0ef;
    font-size: 25px;
}
img {
    width: 25vw;
    display: inline-block;
    margin-left: 2vw;
    border-radius: 2%;
}
ul {
    list-style: none;
    padding: 0;
    text-align: left;
}
li {
    color: #e8eddf;
    line-height: 30px;
    font-size: 20px;
}
.recipe {
    color: #e8eddf;
}


footer {
    text-align: center;
}
a {
    text-decoration: none;
    color: #4cc9f0;
}
a:hover {
    color: #f72585
}